<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head"></head>


<body th:replace="master :: content(~{ :: .content})">
    <div class="content">
        <section class="page_title ds s-parallax s-py-110">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="small-title">Author</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a th:href="@{/home}">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a th:href="@{/author}">Author</a>
							</li>
							<li class="breadcrumb-item active">
								Author
							</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ls s-py-90 s-py-xl-160">
			<div class="container">
				<div class="row">
					<main class="col-lg-12">
						<article>
							<div class="entry-content">
								<div class="woocommerce">
									<form class="woocomerce-form woocommerce-form-login" method="post" 
									th:action="@{/author/create}" th:object="${author}">
										<h3 class="a-h2 align-items-start" style="margin-top:20px ;">Add authors </h3>
										<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
											<label for="authorName">Author Name</label>
											<input type="text" class="woocommerce-Input woocommerce-Input--text input-text" 
											 name="name" id="authorname"  th:value="${author.name}?${author.name}:null" >
										</p>

										<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
											<label for="node">Information details of author</label>
											<textarea class="woocommerce-Input woocommerce-Input--text input-text" 
											name="description" ></textarea>
										</p>	

										<p class="form-row">
											<button type="submit" class="btn btn-primary btn-block">
	            								Add
	        								</button>
										</p>			
									</form>
								</div>
							</div>
						</article>
					</main>
				</div>
			</div>
		</section>
    </div>
</body>
</html>