<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head"></head>


<body th:replace="master :: content(~{ :: .content})">
    <div class="content">
        <section class="page_title ds s-parallax s-py-110">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="small-title">Author</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a th:href="@{/home}">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a th:href="@{/author}">Author</a>
							</li>
							<li class="breadcrumb-item active">
								Author
							</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ls s-py-90 s-py-xl-160">
			<div class="container">
				<div class="row">
					<main class="col-lg-12">
						<article>
							<div class="entry-content">
								<div class="woocommerce">
									<a th:href="@{/author/create}">Add Authors</a>
								 	<table class="table table-striped table-bordered">
								        <thead class="thead-dark">
								           <tr>
								               <th>ID Author</th>
								               <th>Author's Name</th>
								               <th>Action</th>
								             </tr>
								       </thead>
								       <tbody>
								             <tr th:each="Author : ${listAuthor}">
								                <td th:text="${Author.id}"></td>
								                <td th:text="${Author.name}"></td>
								                <td >
								                    <a th:href="@{'/author/edit/' + ${Author.id} }">Edit</a>
								                    <a th:href="@{'/author/delete/' + ${Author.id} }">Delete</a>
								                </td>
                                              </tr>
            						   </tbody>
        							</table>	
								</div>
							</div>
						</article>
					</main>
				</div>
			</div>
		</section>
    </div>
</body>
</html>