<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head"></head>
<body th:replace="master :: content(~{ :: .content})">
    <div class="content">
        <form th:action="@{/publisher/saveOrUpdate}" method="post" th:object="${publisher}">
            <div class="card-header" style="text-align: center;">
                <h2>Thêm sửa nhà xuất bản</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Tên NXB:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" aria-describedby="nameHid" placeholder="Tên">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="${#fields.hasErrors('name')}? error"></p>
                </div>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>

</body>
</html>