    <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body th:replace="master :: content(~{ :: .content})">
    <div class="content">
        <a th:href="@{/publisher/newOrEdit }">Thêm nhà xuầt bản</a>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Tên nhà xuất bản</th>
                <th>Action</th>
            </tr>
            </thead>
            <tboby>
                <tr th:each="item : ${pages.content}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td>
                        <a th:href="@{'/publisher/newOrEdit/' + ${item.id}}">Edit</a>
                        <a th:href="@{'/publisher/delete/' + ${item.id}}">Delete</a>
                    </td>
                </tr>
            </tboby>
        </table>
        <div>
            Pages:
            <span th:each="i : ${#numbers.sequence(0, pages.totalPages - 1)}">
                <a th:href="@{/publisher/paginate(page=${i},size=${pages.size})}" th:text="${i + 1}"></a>
            </span>
        </div>
    </div>
<!--    <h1>List of Publisher</h1>-->
<!--    <hr />-->
<!--    <a th:href="@{/publisher/newOrEdit}">New Publisher</a>-->
<!--    <hr />-->
<!--    <div th:if="${message != null}">-->
<!--        <h3 th:text="${message}"></h3>-->
<!--    </div>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Publisher ID</td>-->
<!--            <td>Name</td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--        <tr th:each="item : ${pages.content}">-->
<!--            <td th:text="${item.id}"></td>-->
<!--            <td th:text="${item.name}"></td>-->
<!--            <td>-->
<!--                <a th:href="@{'/publisher/newOrEdit/' + ${item.id}}">Edit</a>-->
<!--                <a th:href="@{'/publisher/delete/' + ${item.id}}">Delete</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

<!--    <hr/>-->

<!--    <div>-->
<!--        Pages:-->
<!--        <span th:each="i : ${#numbers.sequence(0, pages.totalPages - 1)}">-->
<!--            <a th:href="@{/publisher/paginate(page=${i},size=${pages.size},sort=${sort})}" th:text="${i + 1}"></a>-->
<!--        </span>-->
<!--    </div>-->

<!--    <hr/>-->
<!--    <form th:action="@{/publisher/paginate}">-->
<!--        <select name="sort" id="">-->
<!--            <option value="id">Publisher ID</option>-->
<!--            <option value="name">Name</option>-->
<!--        </select>-->
<!--        <input type="submit" value="Sort" />-->
<!--    </form>-->
</body>
</html>