<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
</head>

<body th:replace="master :: content(~{ :: .content})">
    <div class="content">
        <!-- Breadcrumb -->
        <section class="page_title ds s-parallax s-py-110">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1 class="small-title">Publisher List</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Shop</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Publisher List
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Breadcrumb -->
        <!-- Content section -->
        <div class="row justify-content-center my-3">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <a th:href="@{/publisher/newOrEdit }" class=" btn btn-maincolor">Add new publisher</a>
                <table class="shop_table shop_table_responsive cart">
                    <thead>
                        <tr>
                            <th class="product-remove">&nbsp;</th>
                            <th class="product-thumbnail">Id</th>
                            <th class="product-name">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${pages.content}" class="cart_item">
                            <td class="product-remove">
                                <a th:href="@{'/publisher/newOrEdit/' + ${item.id}}">Edit</a>
                                <a th:href="@{'/publisher/delete/' + ${item.id}}">Delete</a>
                            </td>
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    Pages:
                    <span th:each="i : ${#numbers.sequence(0, pages.totalPages - 1)}">
                        <a th:href="@{/publisher/paginate(page=${i},size=${pages.size})}" th:text="${i + 1}"></a>
                    </span>
                </div>
            </div>
        </div>
        <!-- End Content section -->

    </div>
    <!--    <h1>List of Publisher</h1>-->
    <!--    <hr />-->
    <!--    <a th:href="@{/publisher/newOrEdit}">New Publisher</a>-->
    <!--    <hr />-->
    <!--    <div th:if="${message != null}">-->
    <!--        <h3 th:text="${message}"></h3>-->
    <!--    </div>-->
    <!--    <table>-->
    <!--        <tr>-->
    <!--            <td>Publisher ID</td>-->
    <!--            <td>Name</td>-->
    <!--            <td></td>-->
    <!--        </tr>-->
    <!--        <tr th:each="item : ${pages.content}">-->
    <!--            <td th:text="${item.id}"></td>-->
    <!--            <td th:text="${item.name}"></td>-->
    <!--            <td>-->
    <!--                <a th:href="@{'/publisher/newOrEdit/' + ${item.id}}">Edit</a>-->
    <!--                <a th:href="@{'/publisher/delete/' + ${item.id}}">Delete</a>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--    </table>-->

    <!--    <hr/>-->

    <!--    <div>-->
    <!--        Pages:-->
    <!--        <span th:each="i : ${#numbers.sequence(0, pages.totalPages - 1)}">-->
    <!--            <a th:href="@{/publisher/paginate(page=${i},size=${pages.size},sort=${sort})}" th:text="${i + 1}"></a>-->
    <!--        </span>-->
    <!--    </div>-->

    <!--    <hr/>-->
    <!--    <form th:action="@{/publisher/paginate}">-->
    <!--        <select name="sort" id="">-->
    <!--            <option value="id">Publisher ID</option>-->
    <!--            <option value="name">Name</option>-->
    <!--        </select>-->
    <!--        <input type="submit" value="Sort" />-->
    <!--    </form>-->
</body>

</html>