<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>List of Publisher</h1>
    <hr />
    <a th:href="@{/publisher/newOrEdit}">New Publisher</a>
    <hr />
    <div th:if="${message != null}">
        <h3 th:text="${message}"></h3>
    </div>
    <table>
        <tr>
            <td>Publisher ID</td>
            <td>Name</td>
            <td></td>
        </tr>
        <tr th:each="item : ${publisher}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td>
                <a th:href="@{'/publisher/newOrEdit/' + ${item.id}}">Edit</a>
                <a th:href="@{'/publisher/delete/' + ${item.id}}">Delete</a>
            </td>
        </tr>
    </table>
    <hr />
    <form th:action="@{/publisher/sort}">
        <select name="sort" id="">
            <option value="id">Publisher ID</option>
            <option value="name">Name</option>
        </select>
        <input type="submit" value="Sort" />
    </form>
</body>
</html>