<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head"></head>


<body th:replace="master :: content(~{ :: .content})">
    <div class="content">

        <!-- Breadcrumb -->
        <section class="page_title ds s-parallax s-py-110">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1 class="small-title">Category List</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Shop</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Category List
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Breadcrumb -->

        <!-- Content section -->
        <div class="row justify-content-center my-3">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <a th:href="@{/category/create }" class="btn btn-maincolor">Add new category</a>
                <table class="shop_table shop_table_responsive cart">
                    <thead>
                        <tr>
                            <th class="product-remove">&nbsp;</th>
                            <th class="product-thumbnail">Id</th>
                            <th class="product-name">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="Category : ${listloaisach}" class="cart_item">
                            <td class="product-remove">
                                <a th:href="@{'/category/edit/' + ${Category.id} }">Edit</a>
                                <a th:href="@{'/category/delete/' + ${Category.id} }">Delete</a>
                            </td>
                            <td th:text="${Category.id}"></td>
                            <td th:text="${Category.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Content section -->
    </div>
</body>

</html>