<!DOCTYPE html>
<html class="no-js">

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head"></head>

<body th:replace="master :: content(~{ :: .content})">
	<div class="content">
		<section class="page_title ds s-parallax s-py-110">
			<div class="container">
				<div class="row">

					<div class="col-md-12 text-center">
						<h1 class="small-title">Author</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="./">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">Pages</a>
							</li>
							<li class="breadcrumb-item active">
								Author
							</li>
						</ol>
					</div>

				</div>
			</div>
		</section>

		<section class="ls s-overlay mobile-overlay s-py-90 s-py-xl-150 section-about">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="divider-xl-200"></div>
						<p class="mb-2 color-dark">Meet author</p>
						<h2 class="special-heading">
							<span>Christian J. Rein</span>
						</h2>
						<div class="divider-40"></div>
						<p class="excerpt">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat
						</p>
						<div class="divider-40"></div>
						<p>
							Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde aperiam, eaque ipsa quae ab illo inventore.
						</p>
						<div class="divider-40"></div>
						<img src="images/signature.png" alt="img">
						<div class="divider-xl-150"></div>
					</div>
				</div>
			</div>
		</section>

		<section class="ls ms s-pt-90 s-pb-80 s-py-xl-150">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<h3 class="special-heading">
							<span>My biography</span>
						</h3>
						<div class="divider-40"></div>
						<p>
							Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						</p>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium:
						</p>

						<ul class="list-styled">
							<li>
								Lorem ipsum dolor sit amet consectetur
							</li>
							<li>
								Adipisicing elit, sed do eiusmod tempor incididunt
							</li>
							<li>
								Labore et dolore magna aliqua
							</li>
							<li>
								Uenim ad minim veniam quis nostrud exercitation ullamco
							</li>
							<li>
								Duis aute irure dolor in reprehenderit voluptate
							</li>
						</ul>
					</div>
					<div class="col-12">
						<div class="divider-xl-60 divider-50"></div>
						<figure class="text-center post_format-post-format-video">
							<div class="embed-responsive embed-responsive-16by9">
								<a href="https://www.youtube.com/embed/mcixldqDIEQ" class="embed-placeholder">
									<img src="images/gallery/02.jpg" alt="img">
								</a>
							</div>
							<figcaption>
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							</figcaption>
						</figure>
						<div class="divider-xl-60 divider-50"></div>
					</div>
					<div class="col-xl-8 offset-xl-2">
						<p>
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eufugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsaquae illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qui.
						</p>
						<blockquote>
							<p>
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu totam rem aperiam, eaque ipsa quao inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							</p>
							<cite>
								<span>Maxie R. Broussard</span>
								<span>EEO officer</span>
							</cite>
						</blockquote>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</p>
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="ls s-overlay mobile-overlay section-shop s-py-90 s-py-xl-150">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="owl-carousel owl-nav-bottom" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-margin="60" data-loop="true" data-autoplay="true">
							<div class="vertical-item">
								<div class="item-media border-r-def">
									<img src="images/books/01.jpg" alt="img">
									<div class="media-links">
										<a class="abs-link" title="" th:href=@{/book-detail}></a>
									</div>
								</div>
								<div class="item-content text-center pt-3">
									<h5>
										<a href="shop-product-full.html">Lorem ipsum dolor</a>
									</h5>
								</div>
							</div>
							<div class="vertical-item">
								<div class="item-media border-r-def">
									<img src="images/books/02.jpg" alt="img">
									<div class="media-links">
										<a class="abs-link" title="" th:href="@{/book-detail}"></a>
									</div>
								</div>
								<div class="item-content text-center pt-3">
									<h5>
										<a href="shop-product-full.html">Adipisicing elit</a>
									</h5>
								</div>
							</div>
							<div class="vertical-item">
								<div class="item-media border-r-def">
									<img src="images/books/03.jpg" alt="img">
									<div class="media-links">
										<a class="abs-link" title="" th:href=@{/book-detail}></a>
									</div>
								</div>
								<div class="item-content text-center pt-3">
									<h5>
										<a href="shop-product-full.html">Incididunt ut labore</a>
									</h5>
								</div>
							</div>
							<div class="vertical-item">
								<div class="item-media border-r-def">
									<img src="images/books/04.jpg" alt="img">
									<div class="media-links">
										<a class="abs-link" title="" th:href=@{/book-detail}></a>
									</div>
								</div>
								<div class="item-content text-center pt-3">
									<h5>
										<a th:href=@{/book-detail}>Dolore magna aliqua</a>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</div>

			


		</div>
	</div>


	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>
	<script src="js/switcher.js"></script>

</body>

</html>