<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head"></head>


<body th:replace="master :: content(~{ :: .content})">
    <div class="content">
        <section class="page_title ds s-parallax s-py-110">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1 class="small-title">Shop Product Detail</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Shop</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Shop Product Detail
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </section>


        <section class="ls s-py-90 s-py-xl-160 c-gutter-60">
            <div class="container">
                <div class="row">
                    <main class="col-lg-12">
                        <div class="product">

                            <div class="images" data-columns="5">
                                <figure>
                                    <div data-thumb="images/books/03.jpg">
                                        <a href="images/books/03.jpg">
                                            <img src="images/books/03.jpg" alt="img" data-caption="" data-src="images/books/03.jpg" data-large_image="images/books/03.jpg" data-large_image_width="1000" data-large_image_height="1000">
                                        </a>
                                    </div>
                                    <div data-thumb="images/books/02.jpg">
                                        <a href="images/books/02.jpg">
                                            <img src="images/books/02.jpg" alt="img" data-caption="" data-src="images/books/02.jpg" data-large_image="images/books/02.jpg" data-large_image_width="1000" data-large_image_height="1000">
                                        </a>
                                    </div>
                                    <div data-thumb="images/books/04.jpg">
                                        <a href="images/books/04.jpg">
                                            <img src="images/books/04.jpg" alt="img" data-caption="" data-src="images/books/04.jpg" data-large_image="images/books/04.jpg" data-large_image_width="1000" data-large_image_height="1000">
                                        </a>
                                    </div>
                                    <div data-thumb="images/books/05.jpg">
                                        <a href="images/books/05.jpg">
                                            <img src="images/books/05.jpg" alt="img" data-caption="" data-src="images/books/05.jpg" data-large_image="images/books/05.jpg" data-large_image_width="1000" data-large_image_height="1000">
                                        </a>
                                    </div>
                                    <div data-thumb="images/books/06.jpg">
                                        <a href="images/books/06.jpg">
                                            <img src="images/books/06.jpg" alt="img" data-caption="" data-src="images/books/06.jpg" data-large_image="images/books/06.jpg" data-large_image_width="1000" data-large_image_height="1000">
                                        </a>
                                    </div>

                                </figure>
                            </div>

                            <div class="summary entry-summary">

                                <h1 class="product_title entry-title">Ship Your Idea</h1>
                                <div class="price-wrap">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating">
                                            <span style="width:72.6%">Rated <strong class="rating">4.33</strong> out of 5 based on <span class="rating">3</span> customer ratings</span>
                                        </div>
                                        <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span class="count">3</span> customer
                                            reviews)</a>
                                    </div>
                                    <p class="price">
                                        <span>
                                            <span>$</span>20.00
                                        </span>
                                    </p>
                                </div>
                                <div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                                        tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                        semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                </div>

                                <form>
                                    <table class="variations">
                                        <tbody>
                                            <tr>
                                                <td class="label">
                                                    <label for="pa_color">Color</label>
                                                </td>
                                                <td class="value">
                                                    <select id="pa_color" class="wc-default-select" name="attribute_pa_color" data-attribute_name="attribute_pa_color">
                                                        <option value="">Choose an option</option>
                                                        <option value="blue" class="attached enabled">Blue</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="label">
                                                    <label for="pa_size">Size</label>
                                                </td>
                                                <td class="value">
                                                    <select id="pa_size" class="wc-default-select" name="attribute_pa_size" data-attribute_name="attribute_pa_size">
                                                        <option value="">Choose an option</option>
                                                        <option value="x-small" class="attached enabled">X Small</option>
                                                        <option value="small" class="attached enabled">Small</option>
                                                        <option value="medium" class="attached enabled">Medium</option>
                                                        <option value="large" class="attached enabled">Large</option>
                                                        <option value="x-large" class="attached enabled">X Large</option>
                                                        <option value="xx-large" class="attached enabled">XX Large</option>
                                                        <option value="xxx-large" class="attached enabled">XXX Large</option>
                                                    </select>
                                                    <a class="reset_variations" href="#">Clear</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <div class="single_variation_wrap">
                                        <div>
                                            <div class="quantity">
                                                <input type="number" class="input-text qty text" step="1" min="1" max="1000" name="quantity" value="1" title="Qty" size="4">
                                            </div>
                                            <button type="submit"> 
                                                <a href="cart.html">Add to cart</a>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                                <div class="product_meta">
                                    <span class="sku_wrapper">SKU: <span class="sku">N/A</span>
                                    </span>
                                    <span class="posted_in">Categories: <a href="shop.html" rel="tag">Clothing</a>, <a href="shop.html" rel="tag">T-shirts</a>
                                    </span>
                                    <span class="tagged_as">Tag: <a href="shop.html" rel="tag">premium</a></span>
                                </div>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/" class="fa border-icon rounded-icon fa-facebook" title="facebook"></a>
                                    <a href="https://twitter.com/" class="fa border-icon rounded-icon fa-twitter" title="twitter"></a>
                                    <a href="https://www.linkedin.com/" class="fa border-icon rounded-icon fa-linkedin" title="linkedin"></a>
                                    <a href="https://www.youtube.com/" class="fa border-icon rounded-icon fa-youtube-play" title="youtube"></a>
                                    <a href="https://www.instagram.com/" class="fa border-icon rounded-icon fa-instagram" title="instagram"></a>
                                </div>
                            </div>

                            <div class="woocommerce-tabs wc-tabs-wrapper">

                                <ul class="tabs wc-tabs" role="tablist">
                                    <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                                        <a href="#tab-description">Description</a>
                                    </li>
                                    <li class="additional_information_tab active" id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
                                        <a href="#tab-additional_information">Additional information</a>
                                    </li>
                                    <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                        <a href="#tab-reviews">Reviews (3)</a>
                                    </li>
                                </ul>

                                <div class="panel wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

                                    <p class="excerpt">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </p>
                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                    </p>
                                </div>
                                <div class="panel wc-tab" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">

                                    <h2>Additional information</h2>

                                    <table class="shop_attributes">


                                        <tbody>
                                            <tr>
                                                <th>Author</th>
                                                <td>
                                                    <p>Christian J. Rein</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Illustrator</th>
                                                <td>
                                                    <p>Christopher O. Briggs</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Publishing house</th>
                                                <td>
                                                    <p>White Horse</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Binding</th>
                                                <td>
                                                    <p>Hardcover</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Language</th>
                                                <td>
                                                    <p>English</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Number of pages</th>
                                                <td>
                                                    <p>256</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Format</th>
                                                <td>
                                                    <p>165 X 250 mm</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Genre</th>
                                                <td>
                                                    <p>Education</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                                    <div id="reviews">
                                        <div id="comments">
                                            <h2>3 reviews for <span>Ship Your Idea</span>
                                            </h2>


                                            <ol class="commentlist">
                                                <li class="comment even thread-even depth-1" id="li-comment-34">

                                                    <div id="comment-34" class="comment_container">

                                                        <img alt="img" src="./images/team/08.jpg" srcset="./images/team/08.jpg" class="avatar avatar-60 photo" height="60" width="60">
                                                        <div class="comment-text">

                                                            <div class="star-rating">
                                                                <span style="width:80%">Rated 
                                                                    <strong class="rating">4</strong> out of 5</span>
                                                            </div>
                                                            <p class="meta">
                                                                <strong>Whoopie R. Hood</strong> <span>–</span>
                                                                <time datetime="2013-06-07T11:43:13+00:00">April 07, 2020 - 11:30 AM
                                                                </time>
                                                            </p>

                                                            <div class="description">
                                                                <p>
                                                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt dolore magnam aliquam quaerat voluptatem.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- #comment-## -->
                                                <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-35">

                                                    <div id="comment-35" class="comment_container">

                                                        <img alt="img" src="./images/team/09.jpg" srcset="./images/team/09.jpg" class="avatar avatar-60 photo" height="60" width="60">
                                                        <div class="comment-text">

                                                            <div class="star-rating">
                                                                <span style="width:80%">Rated 
                                                                    <strong class="rating">4</strong> out of 5</span>
                                                            </div>
                                                            <p class="meta">
                                                                <strong >Paul A. Bounds</strong> <span>–</span>
                                                                <time datetime="2013-06-07T11:55:15+00:00">April 07, 2020 - 11:45 AM
                                                                </time>
                                                            </p>

                                                            <div class="description">
                                                                <p>
                                                                    Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- #comment-## -->
                                                <li class="comment even thread-even depth-1" id="li-comment-36">

                                                    <div id="comment-36" class="comment_container">

                                                        <img alt="img" src="./images/team/11.jpg" srcset="./images/team/11.jpg" class="avatar avatar-60 photo" height="60" width="60">
                                                        <div class="comment-text">

                                                            <div class="star-rating">
                                                                <span style="width:100%">Rated 
                                                                    <strong class="rating">5</strong> out of 5</span>
                                                            </div>
                                                            <p class="meta">
                                                                <strong>Mary H. Ross</strong>
                                                                <span>–</span>
                                                                <time datetime="2013-06-07T13:02:14+00:00">April 07, 2020 - 11:30 AM
                                                                </time>
                                                            </p>

                                                            <div class="description">
                                                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- #comment-## -->
                                            </ol>


                                        </div>


                                        <div id="review_form_wrapper">
                                            <div id="review_form">
                                                <div id="respond" class="comment-respond">
                                                    <span id="reply-title" class="comment-reply-title">Add your review <small>
                                                            <a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a>
                                                        </small>
                                                    </span>
                                                    <form action="/" method="post" id="commentform" class="comment-form" novalidate="">
                                                        <p class="comment-notes">
                                                            <span id="email-notes">Your email address will not be published.</span>
                                                            Required fields are marked <span class="required">*</span>
                                                        </p>
                                                        <div class="comment-form-rating">
                                                            <label>Your rating</label>
                                                            <p class="stars">
                                                                <span>
                                                                    <a class="star-1" href="#">1</a>
                                                                    <a class="star-2" href="#">2</a>
                                                                    <a class="star-3" href="#">3</a>
                                                                    <a class="star-4" href="#">4</a>
                                                                    <a class="star-5" href="#">5</a>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <p class="comment-form-comment">
                                                            <label for="comment">Your review <span class="required">*</span></label>
                                                            <textarea id="comment" name="comment" cols="45" rows="4" aria-required="true" required=""></textarea>
                                                        </p>
                                                        <p class="comment-form-author">
                                                            <label for="author">Full name <span class="required">*</span>
                                                            </label>
                                                            <input id="author" name="author" type="text" value="" size="30" aria-required="true" required="">
                                                        </p>
                                                        <p class="comment-form-email">
                                                            <label for="email">Email address<span class="required">*</span>
                                                            </label> <input id="email" name="email" type="email" value="" size="30" aria-required="true" required="">
                                                        </p>
                                                        <p class="form-submit">
                                                            <input name="submit" type="submit" id="submit" class="submit" value="Add review">
                                                        </p>
                                                    </form>
                                                </div>
                                                <!-- #respond -->
                                            </div>
                                        </div>


                                        <div class="clear">

                                        </div>
                                    </div>
                                </div>

                            </div>


                            <section class="up-sells upsells products">

                                <h2 class="my-0">You may also like</h2>
                                <div class="divider-30"></div>

                                <ul class="products ">
                                    <li class="product">
                                        <div class="product-inner">
                                            <a th:href=@{/shop}>
                                                <img src="images/books/01.jpg" alt="img">
                                            </a>

                                            <div class="product-wrap">
                                                <h2 class="woocommerce-loop-product__title">
                                                    <p>Lorem ipsum dolor</p>
                                                </h2>
                                                <div class="star-rating">
                                                    <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <div class="price-wrap">
                                                    <span class="price">
                                                        <del>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                                15.00
                                                            </span>
                                                        </del>
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                                12.00
                                                            </span>
                                                        </ins>
                                                    </span>
                                                    <a rel="nofollow" th:href=@{/cart} class="button product_type_simple add_to_cart_button">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-inner">
                                            <a th:href=@{/shop}>
                                                <img src="images/books/02.jpg" alt="img">
                                            </a>

                                            <div class="product-wrap">
                                                <h2 class="woocommerce-loop-product__title">
                                                    <p>Adipisicing elit</p>
                                                </h2>
                                                <div class="star-rating">
                                                    <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <div class="price-wrap">
                                                    <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                                15.00
                                                            </span>
                                                        </ins>
                                                    </span>
                                                    <a rel="nofollow" th:href=@{/cart} class="button product_type_simple add_to_cart_button">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-inner">
                                            <a th:href=@{/shop}>
                                                <img src="images/books/03.jpg" alt="img">
                                            </a>

                                            <div class="product-wrap">
                                                <h2 class="woocommerce-loop-product__title">
                                                    <p>Incididunt ut labore</p>
                                                </h2>
                                                <div class="star-rating">
                                                    <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <div class="price-wrap">
                                                    <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                                30.00
                                                            </span>
                                                        </ins>
                                                    </span>
                                                    <a rel="nofollow" th:href=@{/cart} class="button product_type_simple add_to_cart_button">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-inner">
                                            <a th:href=@{/shop}>
                                                <img src="images/books/04.jpg" alt="img">
                                            </a>

                                            <div class="product-wrap">
                                                <h2 class="woocommerce-loop-product__title">
                                                    <p>Dolore magna aliqua</p>
                                                </h2>
                                                <div class="star-rating">
                                                    <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <div class="price-wrap">
                                                    <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                                25.00
                                                            </span>
                                                        </ins>
                                                    </span>
                                                    <a rel="nofollow" th:href=@{/cart} class="button product_type_simple add_to_cart_button">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-inner">
                                            <a th:href=@{/shop}>
                                                <img src="images/books/05.jpg" alt="img">
                                            </a>

                                            <div class="product-wrap">
                                                <h2 class="woocommerce-loop-product__title">
                                                    <p>Dolore magna aliqua</p>
                                                </h2>
                                                <div class="star-rating">
                                                    <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <div class="price-wrap">
                                                    <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                                50.00
                                                            </span>
                                                        </ins>
                                                    </span>
                                                    <a rel="nofollow" th:href=@{/cart} class="button product_type_simple add_to_cart_button">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-inner">
                                            <a th:href=@{/shop}>
                                                <img src="images/books/06.jpg" alt="img">
                                            </a>

                                            <div class="product-wrap">
                                                <h2 class="woocommerce-loop-product__title">
                                                    <p>Incididunt ut labore</p>
                                                </h2>
                                                <div class="star-rating">
                                                    <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <div class="price-wrap">
                                                    <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                                30.00
                                                            </span>
                                                        </ins>
                                                    </span>
                                                    <a rel="nofollow" th:href=@{/cart} class="button product_type_simple add_to_cart_button">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </section>

                        </div>
                        <!-- #product-22 -->


                    </main>
                </div>

            </div>
        </section>
    </div>
</body>
</html>