<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head"></head>


<body th:replace="master :: content(~{ :: .content})">
    <div class="content">
        <section class="ds s-overlay mobile-overlay s-py-90 error-404 not-found page_404">
            <div class="container">
                <div class="row">

                    <div class="divider-lg-60 divider-xl-120"></div>

                    <div class="col-12 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto text-center">

                        <header class="page-header">
                            <h3>404</h3>
                            <p class="text-404" th:if="${errorMessage}" th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
                            <p class="text-404" th:if="!${errorMessage}">Oops, page not found</p>
                        </header>
                        <!-- .page-header -->

                        <div class="page-content">
                            <div class="widget widget_mailchimp">

                                <form class="signup" action="/">
                                    <label for="mailchimp_email">
                                        <span class="screen-reader-text">Subscribe:</span>
                                    </label>

                                    <input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email" placeholder="Email address">

                                    <button type="submit" class="search-submit">
                                        <span class="screen-reader-text">Subscribe</span>
                                    </button>
                                    <div class="response"></div>
                                </form>

                            </div>
                        </div>
                        <!-- .page-content -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>