<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head"></head>


<body th:fragment="content(content)">

    <div class="preloader">
        <div class="preloader_image pulse"></div>
    </div>

    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper" th:fragment="content(content)">
            <header th:replace="/fragments/header :: header"></header>

            <div class="content" th:replace="${content}"></div>

            <div th:replace="/fragments/footer :: footer"></div>
        </div>
    </div>


    <script th:src="@{js/compressed.js}"></script>
    <script th:src="@{js/main.js}"></script>



</body>

</html>